<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="./index.html">Home</a>
          </li>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="./about.html">About us</a>
          </li>
          <!-- <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Our initiatives</a>
                </li> -->
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="./blog.html">Blogs</a>
          </li>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="../team.html">Our Team</a>
          </li>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="https://forms.gle/nh1jU1UtoLQE8yYP6">Internship Opportunity</a>
          </li>
          <!-- <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="">Upcoming events</a>
                </li> -->
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Our Projects</h4>
        <ul>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="./index.html">Educatrix</a>
          </li>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="./index.html">Code with her</a>
          </li>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="./index.html">TechNest</a>
          </li>
          <li>
            <span class="bx bx-chevron-right"></span>
            <a href="../sunday-shots.html">Sunday Shots</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-info">
        <h3>About Us</h3>
        <p>
          A non-profit organisation that is 100% passion oriented and intends to
          provide vocational skills to as many high schoolers as possible. We
          believe in a non-discriminating attitude and hence welcome girls,
          boys, beginners, amateurs, the privileged and underprivileged ones.
          Workshops, hackathons, sessions at various NGOs are just a small
          portion of things we aim at doing.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p><strong>Email:</strong> info.augmetrix@gmail.com</p>
        <div class="social-links mt-3">
          <a href="https://discord.gg/F2ftbbS8GD" class="discord"><span class="bx bxl-discord"></span>
          </a>
          <a href="https://www.instagram.com/augmetrix.tech/" class="instagram"><span
              class="bx bxl-instagram"></span></a>
          <a href="https://www.linkedin.com/company/augmetrix-tech" class="linkedin"><span
              class="bx bxl-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="credits">
    Made with <span>&#9825;</span> by
    <a href="https://adarshsharma.ml/" target="_blank">Adarsh Sharma</a>
  </div>
</div>